{% extends 'ejemplo/base.html' %}
{% block encabezado %}  Mi Pagina de Familiares {% endblock %}
{% block titulo %} Lista de todos mis Familiares {% endblock %}
{% block contenido %}
    <a href="/familia/alta">Nuevo Familiar</a>
    <ul>
        {% for familiar in lista_familiares %}
            <li> 
                Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Nacimiento: {{familiar.nacimiento}}, Pasaporte: {{familiar.numero_pasaporte}} 
                <a href='actualizar/{{ familiar.id }}'>Actualizar</a> 
                <a href='borrar/{{ familiar.id }}'>Borrar</a> 
            </li>
            
        {% endfor %}
    </ul>
{% endblock %}