{% extends 'ejemplo/base.html' %}
{% block encabezado %}  Mi Pagina de Mascotas {% endblock %}
{% block titulo%} Lista de todas mis Mascotas {% endblock %}
{% block contenido %}
    <a href="/mascota/alta">Nueva Mascota</a>
    <ul>
        {% for mascota in lista_mascotas %}
            <li> 
                Nombre: {{mascota.nombre}}, Raza: {{mascota.raza}}, Nacimiento: {{mascota.nacimiento}} 
                <a href='actualizar/{{ mascota.id }}'>Actualizar</a>
                <a href='borrar/{{ mascota.id }}'>Borrar</a> 
            </li>
        {% endfor %}
    </ul>
{% endblock %}